$commonPadding: 1rem 1.5rem;
$commonMargin: .5rem 1rem;
$commonBorder: 1px solid black;

#input-mask-section {
  width: 25vw;
  min-width: 360px;
  height: max-content;
  text-align: center;
  padding: $commonPadding;
  margin: 2vh auto;

  .input-wrap {
    width: 100%;
    height: 100%;
    margin-top: $commonMargin;
    display: flex;
    justify-content: center;
  }

  .input-config-container , .input-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $commonPadding;
    margin: $commonMargin;
    border: $commonBorder;
    border-radius: 10px;

    h2 {
      margin-bottom: .5rem;
    }

    .btn-container {
      margin-top: 1rem;
    }
  }

  .input-config-container {
    width: 30%;
    min-width: max-content;

    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;

      button:first-child {
        margin-right: .5rem;
      }
    }
  }

  .input-container {
    flex-grow: 1;
  }

  .input-config-container mat-form-field,
  .input-container mat-form-field {
    width: 100%;
    height: max-content;
    margin: .25rem 0;
  }

  .text-container{
    h2 {
      margin-bottom: .25rem;
    }
    pre {
      text-align: left;
    }
  }

}

@media screen and (max-width: 768px) {
  #input-mask-section {
    width: 100vw;
    padding: 0;
  }
  .input-wrap {
    flex-direction: column;
    align-items: center;

    .input-container {
      width: 70%;
    }
  }

}

