#input-mask-section {
  width: 50vh;
  text-align: center;
  padding: 2rem 1rem;
  margin: 5vh auto;
  border: 1px solid;
  border-radius: 10px;

  .input-container {
    mat-form-field {
      width: 90%;
    }
  }
}
